<!--
 File: home.component.html
 Author: Nyiri István
 Copyright: 2023, Nyiri István
 Group: Szoft_II_N
 Date: 2023-07-07
 Github: https://github.com/nyiriistvan/
 Licenc: GNU GPL
-->

<div class="container mt-5 text-center">
    <h2 class="">Testömegindex számítása</h2>
    <form [formGroup]="weightAreaForm">
      <div class="form-group">
        <label for="radius">Tömeg:</label>
        <input type="number" class="form-control" id="weight" formControlName="weight">
      </div>
      <div class="form-group">
        <label for="height">Magasság:</label>
        <input type="number" class="form-control" id="height" formControlName="height">
      </div>
      <br>
      <button type="submit" class="btn btn-primary" (click)="calculateWeightArea()" [disabled]="weightAreaForm.invalid">Számol</button>
      <a type="submit" class="btn btn-primary" href="/">Frissit</a>
    </form>
    <div *ngIf="weightArea" class="form-group mt-3">
      <label for="result">Testömegindexed:</label>
      <input type="text" class="form-control" id="result" [value]="weightArea" readonly>
    </div>
  </div>