/*
 File: home.component.scss
 Author: Nyiri István
 Copyright: 2023, Nyiri István
 Group: Szoft_II_N
 Date: 2023-07-07
 Github: https://github.com/nyiriistvan/
 Licenc: GNU GPL
*/

textarea:focus,
input[type="number"]:focus,
.uneditable-input:focus {   
border-color: rgb(0, 149, 255);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(0, 149, 255);
outline: 0 none;
}